---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
  namespace: kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: node-feature-discovery
      version: 0.16.0
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-nfd
        namespace: flux-system
      interval: 15m
  maxHistory: 2
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    master:
      resources:
        requests:
          cpu: 23m
          memory: 64M
        limits:
          memory: 64M
    worker:
      resources:
        requests:
          cpu: 15m
          memory: 64M
        limits:
          memory: 64M
    gc:
      resources:
        limits:
          cpu: 100m
