---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: flux-notifications
  namespace: flux-system
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        address: |-
          {{ .discord_url_b64 }}
  refreshInterval: 15m
  data:
    - secretKey: discord_url_b64
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: c6da36ed-305d-4806-9f5e-afed01755531
        property: discord_url_b64
