---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cloudflare-ddns
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      repository: ghcr.io/larivierec/cloudflare-ddns
      tag: v0.0.10
    args:
      - --zone-name
      - ${SECRET_DOMAIN}
      - --record-name
      - ${SECRET_DOMAIN}
    env:
      ACCOUNT_TOKEN: ${SECRET_CLOUDFLARE_TOKEN}
    service:
      main:
        ports:
          http:
            port: 9000
          health:
            port: 8080
    ingress:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
          external-dns.alpha.kubernetes.io/target: ingress.${SECRET_DOMAIN}
        ingressClassName: nginx
        hosts:
          - host: &host "ddns.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    probes:
      liveness:
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /health/alive
            port: health
      readiness:
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /health/ready
            port: health
    resources:
      requests:
        memory: 64Mi
        cpu: 10m
      limits:
        memory: 128Mi