---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app k8s-gateway
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      k8s-gateway:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          configmap.reloader.stakater.com/reload: *app
        containers:
          app:
            image:
              repository: quay.io/oriedge/k8s_gateway
              tag: v0.4.0
              # repository: ghcr.io/larivierec/k8s_gateway
              # tag: v0.4.0-3.gw-api-1.0.0
            args: ["-conf", "/etc/coredns/Corefile"]
            probes:
              readiness:
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8181
              liveness:
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8080
              startup:
                enabled: false
            resources:
              requests:
                cpu: 50m
                memory: 100Mi
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    service:
      app:
        controller: *app
        ports:
          metrics:
            enabled: true
            port: 9153
      dns:
        enabled: true
        controller: *app
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        clusterIP: "10.43.195.229"
        annotations:
          lbipam.cilium.io/ips: 192.168.40.10
        ports:
          dns-tcp:
            enabled: true
            port: 53
            protocol: TCP
            targetPort: 1053
          dns-udp:
            enabled: true
            port: 53
            protocol: UDP
            targetPort: 1053
    serviceMonitor:
      app:
        enabled: true
        serviceName: k8s-gateway-app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 30s
            scrapeTimeout: 30s
    serviceAccount:
      create: true
      name: *app
    persistence:
      config:
        enabled: true
        type: configMap
        name: *app
        globalMounts:
          - path: /etc/coredns/Corefile
            subPath: Corefile
            readOnly: true
      hosts:
        enabled: true
        type: hostPath
        hostPath: /etc/hosts
        globalMounts:
          - path: /etc/hosts
