---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: unifi-route
  namespace: default
spec:
  hostnames:
    - unifi.garb.dev
  parentRefs:
    - name: envoy-internal
      namespace: networking
      sectionName: https
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - group: gateway.envoyproxy.io
          kind: Backend
          name: unifi-backend
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: Backend
metadata:
  name: unifi-backend
  namespace: default
spec:
  endpoints:
    - fqdn:
        hostname: unifi-console.default.svc.cluster.local
        port: 443
  tls:
    insecureSkipVerify: true
---
apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: unifi
  namespace: default
spec:
  targetRefs:
    - group: gateway.envoyproxy.io
      kind: Backend
      name: unifi-backend
  validation:
    wellKnownCACertificates: "System"
    hostname: unifi.garb.dev
  options:
    minVersion: "1.2"
    maxVersion: "1.3"
