---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app cloudflare-ddns
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/larivierec/cloudflare-ddns
              tag: main@sha256:a4c4c6db139ce0f1bf42719c337a7aee79373b7567df0acbd87937129db41e70
            args:
              - --zone-name
              - ${SECRET_DOMAIN}
              - --record-name
              - ${SECRET_DOMAIN}
              - --provider
              - random
            env:
              ACCOUNT_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: ddns
                    key: ACCOUNT_TOKEN
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/alive
                    port: &healthPort 8080
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/ready
                    port: *healthPort
            resources:
              requests:
                memory: 64Mi
                cpu: 10m
              limits:
                memory: 128Mi
    service:
      main:
        ports:
          http:
            port: &port 9000
          health:
            port: *healthPort
    route:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: dummy
          external-dns.alpha.kubernetes.io/hostname: ddns.${SECRET_DOMAIN}
          external-dns.alpha.kubernetes.io/ttl: "120"
        parentRefs:
          - name: cilium-external
            namespace: infrastructure
            sectionName: https
        hostnames:
          - "ddns.${SECRET_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: *app
