---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cloudflare-ddns
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/larivierec/cloudflare-ddns
              tag: v0.0.10
            args:
              - --zone-name
              - ${SECRET_DOMAIN}
              - --record-name
              - ${SECRET_DOMAIN}
            env:
              ACCOUNT_TOKEN: ${SECRET_CLOUDFLARE_TOKEN}
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/alive
                    port: 8080
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/ready
                    port: 8080
            resources:
              requests:
                memory: 64Mi
                cpu: 10m
              limits:
                memory: 128Mi
    service:
      main:
        ports:
          http:
            port: 9000
          health:
            port: 8080
    ingress:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
          external-dns.alpha.kubernetes.io/target: ingress.${SECRET_DOMAIN}
        className: nginx
        hosts:
          - host: &host "ddns.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls

    # route:
    #   main:
    #     enabled: true
    #     annotations:
    #       external-dns.alpha.kubernetes.io/hostname: ddns.${SECRET_DOMAIN}
    #       external-dns.alpha.kubernetes.io/ttl: "120"
    #     parentRefs:
    #       - name: cilium-external
    #         namespace: infrastructure
    #     hostnames:
    #       - "ddns.${SECRET_DOMAIN}"
    #     rules:
    #       backendRefs:
    #         - port: http
