---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app network-ups-tools
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      network-ups-tools:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/jr0dd/network-ups-tools
              tag: v2.8.1@sha256:7999ff0ed6f4e31d64f8a6afc66dce26e147608c9d595f4f4fb7b4a6e442ae00
            env:
              TZ: "${TIMEZONE:=Etc/UTC}"
            securityContext:
              privileged: true
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
          exporter:
            image:
              repository: ghcr.io/druggeri/nut_exporter
              tag: 3.1.1
        pod:
          annotations:
            configmap.reloader.stakater.com/reload: network-ups-tools-config
          nodeSelector:
            node-role.kubernetes.io/control-plane: "true"
            ups.feature.node.kubernetes.io/apc: "true"
    service:
      app:
        controller: network-ups-tools
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 192.168.40.1
          coredns.io/hostname: nut.garb.dev
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: 3493
            protocol: TCP
      metrics:
        enabled: true
        controller: network-ups-tools
        ports:
          metrics:
            enabled: true
            port: 9199
            protocol: TCP
    serviceMonitor:
      app:
        serviceName: network-ups-tools-metrics
        endpoints:
          - port: metrics
            scheme: http
            interval: 15s
            scrapeTimeout: 10s
            path: /ups_metrics
            params:
              target:
                - localhost:3493
            relabelings:
              - sourceLabels: [__param_target]
                targetLabel: target
    persistence:
      config:
        type: configMap
        name: network-ups-tools-config
        defaultMode: 0400
        globalMounts:
          - path: /etc/nut
      ups:
        type: hostPath
        hostPath: /dev/bus/usb/001/004
        globalMounts:
          - path: /dev/bus/usb/001/001
            readOnly: false
    configMaps:
      config:
        enabled: true
        data:
          nut.conf: |-
            MODE=netserver
          upsd.conf: |-
            MAXAGE 20
            LISTEN 0.0.0.0
          upsd.users: |-
            [upsmon]
              password  = "bacon"
              actions = SET
              instcmds = ALL
              upsmon master
          ups.conf: |-
            [ups]
              driver = "usbhid-ups"
              port = "auto"
              vendorid = "051D"
              productid = "0002"
              product = "Back-UPS NS 1500M2 FW:957.e4 .D USB FW:e4"
              vendor = "American Power Conversion"
              bus = "001"
          upsmon.conf: |-
            MONITOR ups@localhost:3493 1 upsmon "bacon" master
            SHUTDOWNCMD "/sbin/shutdown -h +0"
            POWERDOWNFLAG /etc/killpower
            POLLFREQ 15
            POLLFREQALERT 5
            HOSTSYNC 15
