---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app bitwarden
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      bitwarden:
        containers:
          app:
            image:
              repository: ghcr.io/larivierec/bitwarden-cli
              tag: 2024.3.1@sha256:ade901f161d37e32e61de504243d57be37ea4c0bce7d13fdb5ca19904909bc3e
            env:
              BW_CLIENTID: ${BW_CLIENTID}
              BW_CLIENTSECRET: ${BW_CLIENTSECRET}
              BW_PASSWORD: ${BW_PASSWORD}
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      [
                        "sh",
                        "-c",
                        "curl -X POST -s http://127.0.0.1:8087/sync | jq -e '.success == true'",
                      ]
                  timeoutSeconds: 5
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                memory: 256Mi
                cpu: 100m
              limits:
                memory: 512Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8087
