---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app threadfin
  namespace: vpn
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      threadfin:
        type: deployment
        containers:
          app:
            dependsOn:
              - dnsdist
              - gluetun
            image:
              repository: fyb3roptik/threadfin
              tag: 1.2.37
            env:
              TZ: "America/Toronto"
              THREADFIN_BRANCH: main
              THREADFIN_DEBUG: 1
              THREADFIN_PORT: &port 34400
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 120
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
          dnsdist:
            image:
              repository: docker.io/powerdns/dnsdist-21
              tag: 2.1.0-alpha0
            args:
              - -C
              - /etc/dnsdist/dnsdist.yml
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.0
            env:
              - name: VPN_SERVICE_PROVIDER
                value: surfshark
              - name: VPN_TYPE
                value: wireguard
              - name: VPN_INTERFACE
                value: wg0
              - name: FIREWALL_INPUT_PORTS
                value: "34400"
              - name: FIREWALL_OUTBOUND_SUBNETS
                # Allow access to k8s subnets
                value: "10.42.0.0/16,10.43.0.0/16"
              - name: DOT
                value: "off"
              - name: DNS_ADDRESS
                value: "127.0.0.2"
            envFrom:
              - secretRef:
                  name: &secret vpn-auth
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
              allowPrivilegeEscalation: false
            resources:
              limits:
                squat.ai/tun: "1"
        annotations:
          configmap.reloader.stakater.com/reload: threadfin-dnsdist
          secret.reloader.stakater.com/reload: *secret
        pod:
          securityContext:
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 31337
        runAsGroup: 31337
        fsGroup: 31337
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.40.9
        ports:
          http:
            port: *port
    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
        hostnames:
          - "tv.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
    persistence:
      data:
        enabled: true
        existingClaim: threadfin-0
        globalMounts:
          - path: /home/threadfin/conf
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
      dnsdist-config:
        enabled: true
        type: configMap
        name: threadfin-dnsdist
        advancedMounts:
          threadfin:
            dnsdist:
              - path: /etc/dnsdist/dnsdist.yml
                subPath: dnsdist.yml
                readOnly: true
