---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: mosquitto
  namespace: home
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      repository: public.ecr.aws/docker/library/eclipse-mosquitto
      tag: 2.0.16
    service:
      main:
        enabled: true
        ports:
          http:
            enabled: false
          mqtt:
            enabled: true
            primary: true
            type: LoadBalancer
            externalTrafficPolicy: Local
            annotations:
              coredns.io/hostname: "mosquitto.${SECRET_DOMAIN}"
            port: 1883
    securityContext:
      runAsUser: 1883
      runAsGroup: 1883
    persistence:
      data:
        enabled: false
        existingClaim: &config mosquitto-config-v1
      configinc:
        enabled: true
        type: custom
        volumeSpec:
          secret:
            secretName: &secret mosquitto
        mountPath: /mosquitto/config
    podAnnotations:
      configmap.reloader.stakater.com/reload: *config
      secret.reloader.stakater.com/reload: *secret

    resources:
      requests:
        cpu: 100m
        memory: 250Mi