---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: security
  labels:
    external-secrets.io/type: webhook
stringData:
  1password-credentials.json: op://Homelab/1password/OP_CREDENTIALS_JSON
  token: op://Homelab/1password/OP_CONNECT_TOKEN