---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app frigate
  namespace: home
spec:
  dependsOn:
    - name: mosquitto
      namespace: home
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        annotations:
          configmap.reloader.stakater.com/reload: &config frigate-config
        pod:
          nodeSelector:
            google.feature.node.kubernetes.io/coral: "true"
            intel.feature.node.kubernetes.io/gpu: "true"
        containers:
          main:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.13.0-beta7
              pullPolicy: IfNotPresent
            controller:
              strategy: Recreate
            securityContext:
              privileged: true
              supplementalGroups:
                - 109
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 6Gi
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false

    service:
      main:
        ports:
          http:
            port: &port 5000

    route:
      main:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: infrastructure
        hostnames:
          - "frigate.${SECRET_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: *app

    configMaps:
      config:
        enabled: false
    persistence:
      data:
        enabled: true
        existingClaim: frigate-config
        globalMounts:
          - path: /data
      config:
        enabled: true
        type: configMap
        name: *config
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.5"
            path: "/volume2/frigate"
        globalMounts:
          - path: /media
      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 4Gi
        globalMounts:
          - path: /dev/shm
      # tensor:
      #   enabled: true
      #   type: hostPath
      #   hostPath: /config/model_cache/tensorrt
      #   hostPathType: Directory
      #   globalMounts:
      #     - path: /config/model_cache/tensorrt

  valuesFrom:
    - kind: Secret
      name: frigate
      valuesKey: mqtt_password
      targetPath: controllers.main.containers.main.env.FRIGATE_MQTT_PASSWORD
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: rtsp_user
      targetPath: controllers.main.containers.main.env.FRIGATE_RTSP_USERNAME
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: rtsp_password
      targetPath: controllers.main.containers.main.env.FRIGATE_RTSP_PASSWORD
      optional: false
