---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: frigate
  namespace: home
spec:
  dependsOn:
    - name: mosquitto
      namespace: home
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.0.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        annotations:
          configmap.reloader.stakater.com/reload: &config frigate-config
        pod:
          runtimeClassName: nvidia
        containers:
          main:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.13.0-beta2-tensorrt
              pullPolicy: IfNotPresent
            controller:
              strategy: Recreate
            securityContext:
              privileged: true
            env:
              NVIDIA_DRIVER_CAPABILITIES: compute,utility,video
              NVIDIA_VISIBLE_DEVICES: all
              YOLO_MODELS: yolov7-tiny-416
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
                # gpu.intel.com/i915: 1
                nvidia.com/gpu: 1
              limits:
                memory: 6Gi
                # gpu.intel.com/i915: 1
                nvidia.com/gpu: 1
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
    service:
      main:
        ports:
          http:
            port: 5000
    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/icon: icon-park-solid:surveillance-cameras
        className: nginx-internal
        hosts:
          - host: &host "frigate.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    configMaps:
      config:
        enabled: false
    persistence:
      data:
        enabled: true
        existingClaim: frigate-config
        globalMounts:
          - path: /data
      config:
        enabled: true
        type: configMap
        name: *config
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.5"
            path: "/volume2/frigate"
        globalMounts:
          - path: /media
      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 4Gi
        globalMounts:
          - path: /dev/shm
      tensor:
        enabled: true
        type: hostPath
        hostPath: /config/model_cache/tensorrt
        hostPathType: Directory
        globalMounts:
          - path: /config/model_cache/tensorrt

  valuesFrom:
    - kind: Secret
      name: frigate
      valuesKey: mqtt_password
      targetPath: controllers.main.containers.main.env.FRIGATE_MQTT_PASSWORD
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: rtsp_user
      targetPath: controllers.main.containers.main.env.FRIGATE_RTSP_USERNAME
      optional: false
    - kind: Secret
      name: frigate
      valuesKey: rtsp_password
      targetPath: controllers.main.containers.main.env.FRIGATE_RTSP_PASSWORD
      optional: false
