---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./external-secret.yaml
  - ./pvc.yaml
  - ./helm-release.yaml
namespace: home
configMapGenerator:
  - name: frigate-config
    files:
      - ./config/config.yml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled