---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-frigate-0
  namespace: home
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Gi
  storageClassName: longhorn-database
