---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app maintainerr
  namespace: default
spec:
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    controllers:
      main:
        type: deployment
        updateStrategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/jorenn92/maintainerr
              tag: 1.7.1@sha256:7d1e7834c5f9692553fd5515385cb32875e328fd0506965b2afb26e36c6e8e6e
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 512Mi
    service:
      main:
        ports:
          http:
            port: &port 80
    route:
      main:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: infrastructure
        hostnames:
          - "maintainerr.${SECRET_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: *app
    persistence:
      config:
        enabled: true
        accessMode: ReadWriteOnce
        storageClass: longhorn
        size: 300Mi
        globalMounts:
          - path: /opt/data
