---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app maintainerr
  namespace: default
spec:
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    controllers:
      main:
        type: deployment
        updateStrategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/jorenn92/maintainerr
              tag: 2.0.0@sha256:7377075b39985b64369d1fddd1ea9ad39f59a8e98c777e2da4cd7041a93b6380
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 512Mi
            pod:
              securityContext:
                runAsUser: 568
                runAsGroup: 568
                fsGroup: 568
                fsGroupChangePolicy: "OnRootMismatch"
    service:
      main:
        ports:
          http:
            port: &port 6246
    ingress:
      main:
        enabled: true
        className: nginx-internal
        hosts:
          - host: &host "maintainerr.garb.dev"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    route:
      main:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: infrastructure
        hostnames:
          - "maintainerr-route.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
    persistence:
      config:
        enabled: true
        accessMode: ReadWriteOnce
        storageClass: longhorn
        size: 300Mi
        globalMounts:
          - path: /opt/data
