---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: tf-controller
  namespace: infrastructure
spec:
  interval: 30m
  chart:
    spec:
      chart: tf-controller
      version: 0.16.0-rc.4
      sourceRef:
        kind: HelmRepository
        name: tofu-controller
        namespace: flux-system
      interval: 30m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m
    runner:
      image:
        repository: ghcr.io/larivierec/tf-runner-bw
        tag: 0.16.0-rc.4@sha256:c5f5fc72f889712b5241c3859ed850747d732fd90396bf51e9ee659203ad8151
