---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app ollama-ui
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      ollama-ui:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/ollama-webui/ollama-webui
              tag: main
            env:
              OLLAMA_API_BASE_URL: http://ollama.default.svc:11434/api
            resources:
              requests:
                cpu: 200m
              limits:
                memory: 2Gi
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: false
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8080
    # ingress:
    #   app:
    #     enabled: true
    #     className: internal
    #     hosts:
    #       - host: &host "chat.garb.dev"
    #         paths:
    #           - path: /
    #             service:
    #               identifier: app
    #               port: http
    #     tls:
    #       - hosts:
    #           - *host
    #         secretName: wildcard-cert-tls
    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: infrastructure
            sectionName: https
        hostnames:
          - "chat.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
            timeouts:
              backendRequest: 10m
      cilium:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: infrastructure
            sectionName: https
        hostnames:
          - "chat-cilium.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
            timeouts:
              backendRequest: 10m
