---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: minio
  namespace: system
spec:
  dependsOn:
    - name: csi-driver-nfs
      namespace: system
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: quay.io/minio/minio
              tag: RELEASE.2023-09-30T07-02-29Z
            args: ["server", "/data", "--console-address", ":9001"]
            envFrom:
              - secretRef:
                  name: minio-secrets
            env:
              TZ: UTC
              MINIO_UPDATE: "off"
              MINIO_PROMETHEUS_AUTH_TYPE: "public"

            auth:
              existingSecret: minio-secrets
        pod:
          annotations:
            secret.reloader.stakater.com/reload: minio-secrets

    service:
      main:
        enabled: true
        ports:
          http:
            enabled: true
            port: &http-port 9001
          api:
            enabled: true
            port: &api-port 9000

    ingress:
      main:
        enabled: true
        className: cilium
        hosts:
          - host: &minio minio.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  name: main
                  port: *http-port
          - host: &s3 s3.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  name: main
                  port: *api-port
        tls:
          - hosts:
              - *minio
            secretName: wildcard-cert-tls
          - hosts:
              - *s3
            secretName: wildcard-cert-tls
    persistence:
      config:
        enabled: true
        existingClaim: minio
        globalMounts:
          - path: /data
