---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: internal-bitwarden-api
  namespace: networking
spec:
  hostnames:
    - bw.garb.dev
  parentRefs:
    - name: envoy-internal
      namespace: networking
      sectionName: https
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - group: gateway.envoyproxy.io
          kind: Backend
          name: bitwarden-vault-backend
---
# Note: this backend is used only by clients going through envoy (usually from a browser call)
# external-secrets requires the service dns to be able to properly communicate with the out-of-cluster bitwarden api
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: Backend
metadata:
  name: bitwarden-vault-backend
  namespace: networking
spec:
  endpoints:
    - ip:
        address: 192.168.1.3
        port: 9998
---
apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: bitwarden-backend-tls
  namespace: networking
spec:
  targetRefs:
    - group: gateway.envoyproxy.io
      kind: Backend
      name: bitwarden-vault-backend
  validation:
    caCertificateRefs:
      - kind: Secret
        name: bitwarden-css-certs
        group: ""
    hostname: bw.garb.dev
  options:
    minVersion: "1.2"
    maxVersion: "1.3"
