---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cloudflare-ddns
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 4.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      cloudflare-ddns:
        containers:
          app:
            image:
              repository: ghcr.io/larivierec/cloudflare-ddns
              tag: v1.0.14@sha256:89cc7f9aee188745e15b1a5c157df39abba47d47447f51da5be241acf3010ccc
            args:
              - --zone-name
              - garb.dev
              - --record-name
              - ipv4.garb.dev
              - --provider
              - random
            env:
              ACCOUNT_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: ddns
                    key: ACCOUNT_TOKEN
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/alive
                    port: &healthPort 8080
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/ready
                    port: *healthPort
            resources:
              requests:
                memory: 64Mi
                cpu: 10m
              limits:
                memory: 128Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9000
          health:
            port: *healthPort
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: health
            scheme: http
            path: /metrics
            interval: 30s
            scrapeTimeout: 30s
    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "ddns.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
