---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app home-assistant
  namespace: home
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        type: deployment
        strategy: Recreate
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 14.9
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: postgres-hass
        pod:
          hostNetwork: true
          dnsPolicy: ClusterFirstWithHostNet
        containers:
          main:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2023.11.3
            env:
              TZ: "UTC"
              POSTGRES_HOST: postgres-rw.database.svc.cluster.local
              POSTGRES_DB: home_assistant
            envFrom: *envFrom
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
    service:
      main:
        ports:
          http:
            port: &port 8123
    route:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: dummy
          external-dns.alpha.kubernetes.io/hostname: hass.${SECRET_DOMAIN}
          external-dns.alpha.kubernetes.io/ttl: "120"
        parentRefs:
          - name: cilium-external
            namespace: infrastructure
            sectionName: https
        hostnames:
          - "hass.${SECRET_DOMAIN}"
        rules:
          - backendRefs:
              - port: *port
                name: *app

    persistence:
      config:
        enabled: true
        existingClaim: home-assistant-v2
        globalMounts:
          - path: /config
    metrics:
      enabled: true
      serviceMonitor:
        bearerTokenSecret:
          name: "prometheus-secrets"
          key: "prom-token"
      prometheusRule:
        enabled: true
        rules: []
