---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: harbor
  namespace: flux-system
spec:
  suspend: true
  interval: 10m
  path: "./kubernetes/main/apps/development/harbor/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  dependsOn:
    - name: cluster-apps-external-secrets-stores
