---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: bitnami
  namespace: flux-system
spec:
  interval: 30m
  type: oci
  url: oci://registry-1.docker.io/bitnamicharts
  timeout: 3m
