---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.1.1/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app network-ups-tools-rack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.1.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      nut-rack:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/jr0dd/network-ups-tools
              tag: v2.8.3@sha256:9f8e14d155c6ef05940cee6f8861e259e951eb11750aeddd02539d986dac1ca0
            env:
              TZ: "${TIMEZONE:=Etc/UTC}"
            securityContext:
              privileged: true
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                squat.ai/apc: "1"
          exporter:
            image:
              repository: ghcr.io/druggeri/nut_exporter
              tag: 3.2.0
        pod:
          annotations:
            configmap.reloader.stakater.com/reload: *app
          nodeSelector:
            node-role.kubernetes.io/control-plane: ""
            ups.feature.node.kubernetes.io/apc: "true"
    defaultPodOptions:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values: ["network-ups-tools"]
                topologyKey: kubernetes.io/hostname
    service:
      app:
        controller: nut-rack
        ports:
          http:
            port: 3493
            protocol: TCP
      metrics:
        enabled: true
        controller: nut-rack
        ports:
          metrics:
            enabled: true
            port: 9199
            protocol: TCP
    serviceMonitor:
      app:
        enabled: true
        serviceName: network-ups-tools-rack-metrics
        endpoints:
          - port: metrics
            scheme: http
            interval: 15s
            scrapeTimeout: 10s
            path: /ups_metrics
            params:
              target:
                - localhost:3493
            relabelings:
              - sourceLabels: [__param_target]
                targetLabel: target
    persistence:
      config:
        type: configMap
        name: *app
        defaultMode: 0400
        globalMounts:
          - path: /etc/nut
      ups:
        type: hostPath
        hostPath: /dev/bus/usb/001/003
        globalMounts:
          - path: /dev/bus/usb/001/001
            readOnly: false
    configMaps:
      config:
        enabled: true
        data:
          nut.conf: |-
            MODE=netserver
          upsd.conf: |-
            MAXAGE 20
            LISTEN 0.0.0.0
          upsd.users: |-
            [upsmon]
              password  = "bacon"
              actions = SET
              instcmds = ALL
              upsmon master
          ups.conf: |-
            [ups]
              driver = "usbhid-ups"
              port = "auto"
              vendorid = "051D"
              productid = "0002"
              product = "Back-UPS NS 1500M2 FW:957.e4 .D USB FW:e4"
              vendor = "American Power Conversion"
              bus = "001"
          upsmon.conf: |-
            MONITOR ups@localhost:3493 1 upsmon "bacon" master
            SHUTDOWNCMD "/sbin/shutdown -h +0"
            POWERDOWNFLAG /etc/killpower
            POLLFREQ 15
            POLLFREQALERT 5
            HOSTSYNC 15
