---
apiVersion: v1
kind: Endpoints
metadata:
  name: opnsense-metrics
  namespace: monitoring
  labels:
    app: opnsense-metrics
subsets:
  - addresses:
      - ip: 192.168.1.1
    ports:
      - name: metrics
        port: 9100
        protocol: TCP
