---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./local-path-provisioner/ks.yaml
  - ./reflector/ks.yaml
  - ./spegel/ks.yaml
  - ./stakater/ks.yaml
  - ./unifi/ks.yaml
  - ./vaultwarden/ks.yaml
