---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &current postgres
  namespace: database
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
spec:
  instances: 3
  primaryUpdateStrategy: unsupervised
  imageName: ghcr.io/cloudnative-pg/postgresql:${POSTGRESQL_VERSION}
  storage:
    size: 20Gi
    storageClass: local-hostpath
  enableSuperuserAccess: true
  superuserSecret:
    name: postgres-superuser
  postgresql:
    parameters:
      max_connections: "800"
      shared_buffers: "512MB"
  monitoring:
    enablePodMonitor: false
  # when doing major upgrade and backup doesn't exist
  # bootstrap:
  #   initdb:
  #     import:
  #       type: monolith
  #       databases: ["*"]
  #       roles: ["*"]
  #       source:
  #         externalCluster: &previousCluster postgres-v16-v3
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters: &parameters
        barmanObjectName: minio
        serverName: postgres-v17-3
  bootstrap:
    recovery:
      source: source
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters: *parameters
    # when directly doing direct upgrades and upgrading when current
    # postgres is already running
    # - name: *previousCluster
    #   connectionParameters:
    #     host: postgres-lb.database.svc.cluster.local
    #     user: postgres
    #     dbname: postgres
    #     sslmode: require
    #   password:
    #     name: postgres-superuser
    #     key: password
