---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: protonmail-bridge
  namespace: mail
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.0.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controller:
      type: statefulset
    image:
      repository: ghcr.io/larivierec/protonmail-bridge-docker
      tag: v3.4.2
    env:
      TZ: "America/New_York"
    service:
      main:
        enabled: false
      imap:
        enabled: true
        type: LoadBalancer
        annotations:
          hajimari.io/icon: "material-symbols:mail"
          coredns.io/hostname: "imap.${SECRET_DOMAIN}"
          io.cilium/lb-ipam-ips: "192.168.50.5"
        externalTrafficPolicy: Cluster
        ports:
          imap-tcp:
            enabled: true
            port: 143
      smtp:
        enabled: true
        type: LoadBalancer
        annotations:
          hajimari.io/icon: "material-symbols:mail"
          coredns.io/hostname: "smtp.${SECRET_DOMAIN}"
          io.cilium/lb-ipam-ips: "192.168.50.6"
        externalTrafficPolicy: Cluster
        ports:
          smtp-tcp:
            enabled: true
            port: 25
    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
    persistence:
      config:
        enabled: true
        existingClaim: protonmail-bridge-config-v1
        mountPath: /root
