---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor
  namespace: development
spec:
  interval: 30m
  chart:
    spec:
      chart: harbor
      version: 1.16.0
      sourceRef:
        kind: HelmRepository
        name: harbor
        namespace: flux-system
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    expose:
      type: ingress
      tls:
        enabled: true
        certSource: secret
        secret:
          secretName: wildcard-cert-tls
      ingress:
        hosts:
          core: &external harbor.garb.dev
    externalURL: https://harbor.garb.dev
    persistence:
      enabled: true
      persistentVolumeClaim:
        registry:
          storageClass: ceph-block
          size: 10Gi
        jobservice:
          jobLog:
            storageClass: ceph-block
            size: 1Gi
        database:
          storageClass: ceph-block
          size: 1Gi
        redis:
          storageClass: ceph-block
          size: 1Gi
        trivy:
          storageClass: ceph-block
          size: 5Gi
    existingSecretAdminPassword: harbor
    existingSecretAdminPasswordKey: password
    secretKey:
    existingSecretSecretKey: harbor-encryption
    notary:
      enabled: false
