---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor
  namespace: development
spec:
  interval: 30m
  chart:
    spec:
      chart: harbor
      version: 1.18.0
      sourceRef:
        kind: HelmRepository
        name: harbor
        namespace: flux-system
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
    - kind: Secret
      name: postgres-harbor
      valuesKey: INIT_POSTGRES_PASS
      targetPath: database.external.password
      optional: false
    - kind: Secret
      name: postgres-harbor
      valuesKey: INIT_POSTGRES_USER
      targetPath: database.external.username
      optional: false
    - kind: Secret
      name: harbor
      valuesKey: token
      targetPath: trivy.githubToken
      optional: false
  values:
    updateStrategy:
      type: Recreate
    expose:
      type: ingress
      tls:
        enabled: true
        certSource: secret
        secret:
          secretName: wildcard-cert-tls
      ingress:
        hosts:
          core: &external harbor-ingress.garb.dev
    externalURL: https://harbor-ingress.garb.dev
    registry:
      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:17.6
          envFrom:
            - secretRef:
                name: postgres-harbor
    redis:
      type: external
      external:
        addr: dragonfly.database.svc:6379
    database:
      type: external
      external:
        host: postgres-lb.database.svc.cluster.local
    trivy:
      enabled: true
    persistence:
      enabled: true
      persistentVolumeClaim:
        registry:
          existingClaim: harbor-registry-0
        jobservice:
          jobLog:
            storageClass: ceph-block
            size: 1Gi
        database:
          storageClass: ceph-block
          size: 1Gi
        redis:
          storageClass: ceph-block
          size: 1Gi
        trivy:
          storageClass: ceph-block
          size: 5Gi
    cache:
      enabled: true
    existingSecretAdminPassword: harbor
    existingSecretAdminPasswordKey: password
    secretKey:
    existingSecretSecretKey: harbor-encryption
    notary:
      enabled: false
