---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: minio-secrets
  namespace: system
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        MINIO_ROOT_USER: |-
          {{ .username }}
        MINIO_ROOT_PASSWORD: |-
          {{ .password }}
  refreshInterval: 15s
  data:
    - secretKey: username
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 0a39c7b4-2e5d-4afa-8469-aea401037d8b
        property: username
    - secretKey: password
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 0a39c7b4-2e5d-4afa-8469-aea401037d8b
        property: password
