---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: postgres-vaultwarden
  namespace: system
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        postgres_user: |-
          {{ .postgres_vw_user }}
        postgres_password: |-
          {{ .postgres_vw_pass }}
        postgres_superuser_pw: |-
          {{ .postgres_pw }}
  refreshInterval: 15s
  data:
    - secretKey: postgres_vw_user
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: c6da36ed-305d-4806-9f5e-afed01755531
        property: postgres_vw_user
    - secretKey: postgres_vw_pass
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: c6da36ed-305d-4806-9f5e-afed01755531
        property: postgres_vw_pass
    - secretKey: postgres_pw
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: c6da36ed-305d-4806-9f5e-afed01755531
        property: postgres_pw
