---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-nfs-subdir-external-provisioner
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  wait: false
