---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPPeeringPolicy
metadata:
  name: cilium
spec:
  nodeSelector:
    matchLabels:
      kubernetes.io/os: "linux"
  virtualRouters:
    - localASN: 65442
      exportPodCIDR: false
      neighbors:
        - peerASN: 65401
          peerAddress: 192.168.50.1/32
      serviceSelector:
        matchExpressions:
          - {
              key: broadcastEverything,
              operator: NotIn,
              values: ["from-all-services"],
            }
