utility-talos-m1.yaml
talosconfig
main-talos-m1.yaml
main-talos-m2.yaml
main-talos-m3.yaml
main-talos-w1.yaml
main-talos-w2.yaml
garb-talos-m1.yaml
garb-talos-m2.yaml
garb-talos-m3.yaml
garb-talos-w1.yaml
garb-talos-w2.yaml
garb-talos-w3.yaml
garb-talos-w4.yaml
