---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  - ./opnsense/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  # - ./thanos/ks.yaml
  - ./alertmanager-discord/ks.yaml