---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ./helm-release.yaml
  - ./bgpv2.yaml
  - ./route.yaml
configMapGenerator:
  - name: cilium-helm-values
    namespace: kube-system
    files:
      - values.yaml=./helm-values.yaml
configurations:
  - kustomize-config.yaml
