---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 5m
  chart:
    spec:
      chart: longhorn
      version: 1.5.3
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
    persistence:
      defaultClass: true
      defaultClassReplicaCount: 3
    defaultSettings:
      backupTarget: s3://longhorn@us-east-1/
      backupTargetCredentialSecret: minio-longhorn
      defaultReplicaCount: 3
      defaultLonghornStaticStorageClass: longhorn
      orphanAutoDeletion: true
      concurrentAutomaticEngineUpgradePerNodeLimit: 3
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
    ingress:
      enabled: true
      ingressClassName: nginx-internal
      host: longhorn.garb.dev
      tls: true
      tlsSecret: wildcard-cert-tls
      secureBackends: true
