---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-longhorn-intel
  namespace: default
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 45Gi
