---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: mongodb
  namespace: database
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controller:
      type: statefulset

    image:
      repository: docker.io/library/mongo
      tag: 5.0
    env:
      MONGO_DBNAME: mongo
    envFrom:
      - secretRef:
          name: mongodb-creds

    persistence:
      data:
        enabled: true
        existingClaim: mongodb-data
        mountPath: /data
      mongo-init:
        enabled: true
        accessMode: ReadWriteOnce
        type: configMap
        name: mongo-init
        mountPath: /docker-entrypoint-initdb.d/init-db.js
        subPath: init-db.js

    service:
      main:
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          coredns.io/hostname: "mongodb.${SECRET_DOMAIN}"
          io.cilium/lb-ipam-ips: "192.168.50.12"
        ports:
          http:
            port: 27017

    nodeSelector:
      feature.node.kubernetes.io/pci-0300_10de.present: "true"
