---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.1.1/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-unifi
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.1.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      external-dns-unifi:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret external-dns-unifi-secret
        containers:
          app:
            image:
              repository: registry.k8s.io/external-dns/external-dns
              tag: v0.17.0@sha256:85eba2727b410c8f8093d641a4b1a29671878db94d525a70a4108d10ba8eef5f
            args:
              - --provider=webhook
              - --domain-filter=garb.dev
              - --source=service
              - --source=ingress
              - --source=gateway-httproute
              - --source=gateway-tcproute
              - --source=gateway-udproute
              - --txt-owner-id=unifi
              - --txt-prefix=k8s.main.
              - --txt-new-format-only
              - --registry=txt
              - --policy=sync
              - --interval=1m
              - --log-format=text
              - --log-level=info
              - --managed-record-types=A
              - --managed-record-types=CNAME
              - --managed-record-types=SRV
              - --metrics-address=:7979
              - --ignore-ingress-tls-spec
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 7979
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
          webhook:
            image:
              repository: ghcr.io/kashalls/external-dns-unifi-webhook
              tag: v0.6.0@sha256:dd71adb88b64174b158481fb359dfe985d8bea1cad8cefba36209c8fc9eb03d3
            env:
              UNIFI_HOST: https://192.168.1.1
              UNIFI_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: UNIFI_ADMIN_API_KEY
              LOG_LEVEL: "debug"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &webhook 8080
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /readyz
                    port: *webhook
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup:
                enabled: false
        serviceAccount:
          identifier: *app
    serviceAccount:
      external-dns-unifi: {}
    rbac:
      bindings:
        external-dns-unifi:
          roleRef:
            kind: ClusterRole
            name: external-dns-unifi
          subjects:
            - identifier: *app
          type: ClusterRoleBinding
      roles:
        external-dns-unifi:
          rules:
            - apiGroups: [""]
              resources: ["nodes"]
              verbs: ["list", "watch"]
            - apiGroups: [""]
              resources: ["pods", "services", "endpoints", "namespaces"]
              verbs: ["get", "watch", "list"]
            - apiGroups: ["extensions", "networking.k8s.io"]
              resources: ["ingresses"]
              verbs: ["get", "watch", "list"]
            - apiGroups: ["ingresses.networking.k8s.io"]
              resources: ["*"]
              verbs: ["watch", "list"]
            - apiGroups: ["gateway.networking.k8s.io"]
              resources: ["*"]
              verbs: ["watch", "list"]
            - apiGroups: ["externaldns.k8s.io"]
              resources: ["dnsendpoints"]
              verbs: ["get", "watch", "list"]
            - apiGroups: ["externaldns.k8s.io"]
              resources: ["dnsendpoints/status"]
              verbs: ["*"]
          type: ClusterRole
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
      webhook:
        controller: *app
        ports:
          http-webhook:
            port: *webhook
    serviceMonitor:
      app:
        enabled: true
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
