---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.0.2/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app external-dns
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &creds cloudflare-creds
        containers:
          app:
            image:
              repository: registry.k8s.io/external-dns/external-dns
              tag: v0.14.0@sha256:474077b3dfccb3021db0a6638274967d0f64ce60dd9730a6f464bee2f78b046f
            envFrom:
              - secretRef:
                  name: *creds
            args:
              - --domain-filter=garb.dev
              - --cloudflare-proxied
              - --annotation-filter=external-dns.alpha.kubernetes.io/target
              - --source=ingress
              - --source=gateway-httproute
              - --gateway-namespace=infrastructure
              - --txt-owner-id=public
              - --txt-prefix=k8s.
              - --registry=txt
              - --policy=sync
              - --provider=cloudflare
              - --interval=1m
              - --log-format=text
              - --log-level=info
              - --metrics-address=:7979
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &port 7979
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
    serviceAccount:
      create: true
      name: *app
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        enabled: true
        serviceName: *app
