---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      plex:
        strategy: Recreate
        pod:
          nodeSelector:
            node-role.kubernetes.io/worker: ""
            intel.feature.node.kubernetes.io/gpu: "true"
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            runAsNonRoot: true
            supplementalGroups:
              - 44
              - 105
              - 109
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/plex
              tag: 1.41.5.9522-a96edc606@sha256:098ccf99ceed7036b8b1cd55407e3d8fa92cc4c2065a6ae8010b80d506141162
            env:
              TZ: "UTC"
              ADVERTISE_IP: "https://192.168.40.4:32400,https://plex.garb.dev:443,https://plex-cilium.garb.dev:443"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 1000m
                memory: 2Gi
              limits:
                memory: 16Gi
                gpu.intel.com/i915: 1
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.40.4
        ports:
          http:
            port: &port 32400
    route:
      app:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: dummy
          external-dns.alpha.kubernetes.io/hostname: &envoy plex.garb.dev
          external-dns.alpha.kubernetes.io/ttl: "120"
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        hostnames:
          - *envoy
        rules:
          - backendRefs:
              - name: *app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove: ["Range"]
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - name: *app
                port: *port
      cilium:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: dummy
          external-dns.alpha.kubernetes.io/hostname: &cilium plex-cilium.garb.dev
          external-dns.alpha.kubernetes.io/ttl: "120"
        parentRefs:
          - name: cilium-external
            namespace: networking
            sectionName: https
        hostnames:
          - *cilium
        rules:
          - backendRefs:
              - name: *app
                port: *port
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove: ["Range"]
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: plex-0
      plex-cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: 192.168.1.3
            path: /volume2/media-sp2
        globalMounts:
          - path: /media
      tmp:
        type: emptyDir
      transcode:
        type: emptyDir
