# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/clustersecretstore_v1beta1.json
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: bitwarden-secrets-manager-sdk
spec:
  provider:
    bitwardensecretsmanager:
      # bitwardenServerSDKURL: https://bitwarden-sdk-server.kube-system.svc.cluster.local:9998
      bitwardenServerSDKURL: https://bw.networking.svc.cluster.local:9998
      caProvider:
        type: Secret
        name: bitwarden-css-certs
        namespace: kube-system
        key: ca.crt
      auth:
        secretRef:
          credentials:
            key: token
            name: bitwarden-access-token
            namespace: kube-system
      organizationID: ${BW_ORG_ID}
      projectID: ${BW_PROJECT_ID}
