---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cloudflared
  namespace: networking
spec:
  dependsOn:
  - name: ingress
    namespace: ingress
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      repository: cloudflare/cloudflared
      tag: 2023.7.1
    args:
      - tunnel
      - --config
      - /etc/cloudflared/config.yaml
      - --metrics
      - 0.0.0.0:9090
      - run
    service:
      main:
        nameOverride: metrics
        ports:
          http:
            port: 9090
    persistence:
      config:
        enabled: true
        type: configMap
        name: &config cloudflared-config
        subPath: config.yaml
        mountPath: /etc/cloudflared/config.yaml
        readOnly: true
      creds:
        enabled: true
        type: secret
        name: &secret cloudflared-creds
        mountPath: /etc/cloudflared/creds.json
        subPath: creds.json
        readOnly: true
    resources:
      requests:
        memory: 64Mi
        cpu: 10m
      limits:
        memory: 128Mi
    podAnnotations:
      configmap.reloader.stakater.com/reload: *config
      secret.reloader.stakater.com/reload: *secret