---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: radarr
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    initContainers:
      init:
        image: ghcr.io/onedr0p/postgres-init:14.8
        imagePullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: postgres-radarr
    controller:
      type: deployment
      updateStrategy: Recreate
    image:
      repository: ghcr.io/onedr0p/radarr-develop
      tag: 4.7.5.7809@sha256:f2044d2e8bd2e8d24e8a79f051404be80400f450a94b4c481cbc93cfeffbe745
      pullPolicy: IfNotPresent

    env:
      TZ: "UTC"
    envFrom: *envFrom
    service:
      main:
        ports:
          http:
            port: 7878
    
    podAnnotations:
      backup.velero.io/backup-volumes: config
    
    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/icon: "iconoir:movie"
          # io.cilium/lb-ipam-ips: "192.168.42.10"
        ingressClassName: nginx-internal
        hosts:
          - host: &host "radarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host 
            secretName: wildcard-cert-tls

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100

    persistence:
      config:
        enabled: true
        existingClaim: radarr-config-v4

      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.3"
            path: /volume2/media-sp2/Movies
        mountPath: /movies

      downloads:
        enabled: true
        retain: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.5"
            path: /volume2/media-sp2/Downloads
        mountPath: /downloads
