---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lidarr
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      lidarr:
        annotations:
          reloader.stakater.com/auto: "true"
        type: deployment
        initContainers:
          init:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.4
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: postgres-lidarr
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 100
        containers:
          app:
            image:
              repository: ghcr.io/larivierec/lidarr
              tag: 2.10.1.4589@sha256:cf887ffe240a00f2fe7b38aff744849360b53309832b51aa01583bfe5a81e772
              pullPolicy: IfNotPresent
            env:
              TZ: "UTC"
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8686
    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "lidarr.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
      cilium:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: networking
            sectionName: https
        hostnames:
          - "lidarr-cilium.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
    persistence:
      config:
        enabled: true
        existingClaim: config-lidarr-2
        globalMounts:
          - path: /config
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.3"
            path: /volume2/media-sp2/Music
        globalMounts:
          - path: /music
      downloads:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.3"
            path: /volume2/media-sp2/Downloads
        globalMounts:
          - path: /downloads
