---
instance:
  distribution:
    # renovate: datasource=github-releases depName=fluxcd/flux2
    version: 2.7.1
  cluster:
    networkPolicy: false
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  sync:
    kind: GitRepository
    name: flux-system
    url: https://github.com/larivierec/home-cluster.git
    ref: refs/heads/main
    path: kubernetes/main/flux/cluster
    pullSecret: github-auth
  commonMetadata:
    labels:
      app.kubernetes.io/name: flux
  kustomize:
    patches:
      # use github authentication for the GitRepository
      - patch: |
          - op: add
            path: /spec/provider
            value: github
        target:
          kind: GitRepository
      # - # Add Sops decryption to 'flux-system' Kustomization
      #   patch: |
      #     - op: add
      #       path: /spec/decryption
      #       value:
      #         provider: sops
      #         secretRef:
      #           name: sops-age
      #   target:
      #     group: kustomize.toolkit.fluxcd.io
      #     kind: Kustomization
      - # Increase the number of workers
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=10
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --requeue-dependency=5s
        target:
          kind: Deployment
          name: (kustomize-controller|helm-controller|source-controller)
      - # Increase the memory limits
        patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: all
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      limits:
                        memory: 2Gi
        target:
          kind: Deployment
          name: (kustomize-controller|helm-controller|source-controller)
      - # Enable in-memory kustomize builds
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=20
          - op: replace
            path: /spec/template/spec/volumes/0
            value:
              name: temp
              emptyDir:
                medium: Memory
        target:
          kind: Deployment
          name: kustomize-controller
      - # Enable Helm repositories caching
        patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-max-size=10
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-ttl=60m
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-purge-interval=5m
        target:
          kind: Deployment
          name: source-controller
      # Flux near OOM detection for Helm
      - patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=OOMWatch=true
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-memory-threshold=95
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-interval=500ms
        target:
          kind: Deployment
          name: helm-controller
      - # Disable chart digest tracking
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=DisableChartDigestTracking=true
        target:
          kind: Deployment
          name: helm-controller
      - # Controller-level SOPS decryption
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --sops-age-secret=sops-age
        target:
          kind: Deployment
          name: kustomize-controller
      - # Watch configmaps and secrets attached to HelmReleases and Kustomizations
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --watch-configs-label-selector=owner!=helm
        target:
          kind: Deployment
          name: (helm-controller|kustomize-controller)
      - # Cancel health checks on new Kustomizations revisions
        patch: |-
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=CancelHealthCheckOnNewRevision=true
        target:
          kind: Deployment
          name: kustomize-controller
