---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: vpn
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controller:
      type: deployment
      strategy: Recreate
    image:
      repository: ghcr.io/onedr0p/prowlarr-develop
      tag: 1.7.0.3623@sha256:0239381e1e358a7c9ee0521f512ae65f3aeca4550dcf5b3c0aee91fba7b2bd4a
      pullPolicy: IfNotPresent
    hostname: prowlarr
    env:
      TZ: "UTC"
    service:
      main:
        ports:
          http:
            port: 9696
    ingress:
      main:
        enabled: true
        annotations:
          # io.cilium/lb-ipam-ips: "192.168.42.10"
        ingressClassName: nginx-internal
        hosts:
          - host: &host "prowlarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100

    persistence:
      config:
        enabled: true
        existingClaim: prowlarr-config
    podAnnotations:
      backup.velero.io/backup-volumes: config
      setGateway: "true"

