---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tailscale-operator
  namespace: networking
spec:
  interval: 15m
  chart:
    spec:
      chart: tailscale-operator
      version: 1.90.9
      sourceRef:
        kind: HelmRepository
        name: home-ops-mirror
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    oauthSecretVolume:
      secret:
        secretName: &secret tailscale-operator
    operatorConfig:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
