---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metrics-server
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/utility/apps/kube-system/metrics-server/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  wait: false
