---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app coredns
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: coredns
      version: 1.32.0
      sourceRef:
        kind: HelmRepository
        name: coredns
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    replicaCount: 2
    k8sAppLabelOverride: kube-dns
    service:
      name: kube-dns
      clusterIP: 10.43.0.10
    serviceAccount:
      create: true
    deployment:
      annotations:
        reloader.stakater.com/auto: "true"
    servers:
      - zones:
          - zone: .
            scheme: dns://
            use_tcp: true
        port: 53
        plugins:
          - name: log
          - name: errors
          - name: health
            configBlock: |-
              lameduck 5s
          - name: ready
          - name: prometheus
            parameters: 0.0.0.0:9153
          - name: kubernetes
            parameters: cluster.local in-addr.arpa ip6.arpa
            configBlock: |-
              pods insecure
              fallthrough in-addr.arpa ip6.arpa
              ttl 30
          - name: forward
            parameters: . 10.43.216.203 127.0.0.1:1053
            configBlock: |-
              policy sequential
              health_check 5s
          - name: cache
            parameters: 30
          - name: loop
          - name: reload
          - name: loadbalance
      - zones:
          - zone: .
            scheme: dns://
            use_tcp: true
        port: 1053
        plugins:
          - name: forward
            parameters: . tls://1.1.1.1 tls://1.0.0.1
            configBlock: |-
              tls_servername cloudflare-dns.com
              health_check 5s
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists
    tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
