---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-secrets
  namespace: flux-system
  labels:
    substitution.flux/enabled: false
spec:
  interval: 10m
  path: ./kubernetes/main/apps/security/external-secrets/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  dependsOn:
    - name: cert-manager-self-signed-issuers
  # postBuild:
  #   substituteFrom:
  #     - kind: Secret
  #       name: sops-bw-secrets
  #     - kind: Secret
  #       name: sops-op
