---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: csi-driver-nfs
  namespace: flux-system
spec:
  interval: 30m
  url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
  timeout: 3m
