mqtt:
  host: mosquitto.home
  port: 1883
  topic_prefix: frigate
  user: mqtt_user
  password: "{FRIGATE_MQTT_PASSWORD}"

birdseye:
  enabled: true

database:
  path: /data/frigate.db

ffmpeg:
  hwaccel_args: preset-nvidia-h265

snapshots:
  enabled: true
  timestamp: false
  bounding_box: true
  retain:
    default: 14

# Global record configuration
record:
  enabled: true
  retain:
    days: 3
    mode: all
  events:
    retain:
      default: 14
      mode: active_objects

objects:
  track:
    - person
  filters:
    person:
      min_area: 5000
      max_area: 100000
      threshold: 0.7

detectors:
  tensorrt:
    type: tensorrt
    device: 0

model:
  path: /config/model_cache/tensorrt/yolov7-tiny-416.trt
  input_tensor: nchw
  input_pixel_format: rgb
  width: 416
  height: 416

go2rtc:
  streams:
    front:
      - rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@192.168.8.3:554/cam/realmonitor?channel=1&subtype=0
    back:
      - rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@192.168.8.4:554/cam/realmonitor?channel=1&subtype=0
cameras:
  camera_1:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/front?video=copy
          input_args: preset-rtsp-restream
          roles:
            - detect
            - record
    detect:
      width: 2592
      height: 1944
      fps: 15
  camera_2:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/back?video=copy
          input_args: preset-rtsp-restream
          roles:
            - detect
            - record
    detect:
      width: 2592
      height: 1944
      fps: 15