---
mqtt:
  host: mosquitto.home
  port: 1883
  topic_prefix: frigate
  user: mqtt_user
  password: "{FRIGATE_MQTT_PASSWORD}"
database:
  path: /data/frigate.db
ffmpeg:
  hwaccel_args: preset-vaapi
timestamp_style:
  position: "tr"
  format: "%m/%d/%Y %H:%M:%S"
  color:
    red: 255
    green: 255
    blue: 255
snapshots:
  enabled: true
  timestamp: true
  bounding_box: true
  retain:
    default: 14
# Global record configuration
record:
  enabled: true
  retain:
    days: 3
    mode: all
  events:
    retain:
      default: 14
      mode: active_objects
objects:
  track:
    - person
  filters:
    person:
      min_area: 5000
      max_area: 100000
      threshold: 0.7
detectors:
  coral1:
    type: edgetpu
    device: pci
detect:
  # width: 1920
  # height: 1080
  fps: 5
go2rtc:
  streams:
    front_high: rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@192.168.8.3:554/cam/realmonitor?channel=1&subtype=0
    front_low: rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@192.168.8.3:554/cam/realmonitor?channel=1&subtype=1
    back_high: rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@192.168.8.4:554/cam/realmonitor?channel=1&subtype=0
    back_low: rtsp://{FRIGATE_RTSP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@192.168.8.4:554/cam/realmonitor?channel=1&subtype=1
  # testing, not working yet
  # homekit:
  #   front_high:
  #     pin: 12345678
  #     name: front_high
  #   back_high:
  #     pin: 19550224
  #     name: back_high
cameras:
  front:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/front_high
          roles: ["record", "detect"]
  back:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/back_high
          roles: ["record", "detect"]
