---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: blocky
  namespace: networking
spec:
  maxReplicas: 7
  metrics:
    - resource:
        name: memory
        target:
          averageUtilization: 75
          type: Utilization
      type: Resource
    - resource:
        name: cpu
        target:
          averageUtilization: 75
          type: Utilization
      type: Resource
  minReplicas: 2
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: blocky
