# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.11.2
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.1

clusterName: ${clusterName}
endpoint: https://${clusterEndpointIP}:6443
clusterPodNets:
  - "10.42.0.0/16"
clusterSvcNets:
  - "10.43.0.0/16"
additionalApiServerCertSans: &sans
  - ${clusterEndpointIP}
  - ${clusterName}.${clusterDNSSuffix}
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *sans
cniConfig:
  name: none
nodes:
  - hostname: "talos-m1"
    ipAddress: "192.168.60.5"
    installDiskSelector:
      size: ">= 500GB"
      model: "Samsung SSD 990 PRO 1TB"
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: 58:47:ca:76:9c:*
              driver: i40e
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
        dhcp: true
        mtu: 9000
        vip:
          ip: ${clusterEndpointIP}
  - hostname: "talos-m2"
    ipAddress: "192.168.60.6"
    installDiskSelector:
      size: ">= 500GB"
      model: "Sabrent Rocket Q4"
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: 58:47:ca:74:f1:*
              driver: i40e
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
        dhcp: true
        mtu: 9000
        vip:
          ip: ${clusterEndpointIP}
  - hostname: "talos-m3"
    ipAddress: "192.168.60.7"
    installDiskSelector:
      size: ">= 500GB"
      model: "Samsung SSD 990 PRO 1TB"
    controlPlane: true
    networkInterfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: 58:47:ca:77:eb:*
              driver: i40e
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
        dhcp: true
        mtu: 9000
        vip:
          ip: ${clusterEndpointIP}
patches:
  # Configure containerd
  - |
    machine:
      files:
        - op: create
          path: /etc/cri/conf.d/20-customization.part
          content: |
            [plugins."io.containerd.cri.v1.runtime"]
              cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
              device_ownership_from_security_context = true
            [plugins."io.containerd.cri.v1.images"]
              discard_unpacked_layers = false

  # Configure NFS Mounts
  - &nfs |
    machine:
      files:
        - op: overwrite
          path: /etc/nfsmount.conf
          permissions: 420
          content: |
            [ NFSMount_Global_Options ]
              nfsvers = 4.1
              hard = True
              noatime = True
              nodiratime = True
              rsize = 131072
              wsize = 131072
              nconnect = 8

  # Disable search domain everywhere
  - &domainSearch |-
    machine:
      network:
        disableSearchDomain: true

  # Enable KubePrism
  - |-
    machine:
      features:
        kubePrism:
          enabled: true
          port: 7445

  - |-
    cluster:
      discovery:
        registries:
          kubernetes:
            disabled: true
          service:
            disabled: false

  - |-
    machine:
      kubelet:
        extraConfig:
          featureGates:
            ImageVolume: true
          serializeImagePulls: false
        extraArgs:
          image-gc-low-threshold: 50
          image-gc-high-threshold: 55
          rotate-server-certificates: true
        nodeIP:
          validSubnets:
            - 192.168.60.0/24

  # Custom sysctl settings
  - &sysctls |-
    machine:
      sysctls:
        fs.inotify.max_queued_events: "65536"
        fs.inotify.max_user_watches: "524288"
        fs.inotify.max_user_instances: "8192"
        net.core.rmem_max: "7500000"
        net.core.wmem_max: "7500000"

  # Disable predictable NIC naming
  - &nics |-
    machine:
      install:
        extraKernelArgs:
          - -selinux
          - net.ifnames=0

controlPlane:
  nodeLabels:
    node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/region: ${clusterName}
    topology.kubernetes.io/zone: m
  schematic:
    customization:
      extraKernelArgs:
        - intel_iommu=on
        - iommu=pt
        - mitigations=off
      systemExtensions:
        officialExtensions:
          - siderolabs/gasket-driver
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/nfsrahead
          - siderolabs/thunderbolt
  patches:
    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnMasters: true
        apiServer:
          extraArgs:
            feature-gates: ImageVolume=true,MutatingAdmissionPolicy=true
            runtime-config: admissionregistration.k8s.io/v1beta1=true
        controllerManager:
          extraArgs:
            bind-address: 0.0.0.0
        scheduler:
          extraArgs:
            bind-address: 0.0.0.0
        coreDNS:
          disabled: true
        proxy:
          disabled: true

    # ETCD configuration
    - |-
      cluster:
        etcd:
          extraArgs:
            listen-metrics-urls: http://0.0.0.0:2381
          advertisedSubnets:
            - 192.168.60.0/24

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - system-upgrade

    # CRD configuration
    - |-
      cluster:
        extraManifests:
          - https://github.com/prometheus-operator/prometheus-operator/releases/download/${promVersion}/stripped-down-crds.yaml
          - https://github.com/kubernetes-sigs/gateway-api/releases/download/${gatewayApiVersion}/experimental-install.yaml
          - https://raw.githubusercontent.com/kubernetes-sigs/external-dns/refs/tags/${externalDNSVersion}/config/crd/standard/dnsendpoints.externaldns.k8s.io.yaml
          - https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/refs/tags/${dragonflyOperatorVersion}/manifests/crd.yaml

    # Enable hostDNS:
    - |-
      machine:
        features:
          hostDNS:
            enabled: true
            forwardKubeDNSToHost: false
            resolveMemberNames: true
