---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app radarr
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        type: deployment
        initContainers:
          init:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.2
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: postgres-radarr
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65539
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/radarr-develop
              tag: 5.3.5.8592@sha256:60d0a8a04a062654e27be6f1d8d780be2e821bd0e7815201f4bb32df8090b00b
              pullPolicy: IfNotPresent
            env:
              TZ: "UTC"
            envFrom: *envFrom
    service:
      main:
        ports:
          http:
            port: &port 7878
    ingress:
      main:
        enabled: true
        className: internal
        hosts:
          - host: &host "radarr.garb.dev"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    route:
      main:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: infrastructure
        hostnames:
          - "radarr-route.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
    persistence:
      config:
        enabled: true
        existingClaim: config-radarr-1
        globalMounts:
          - path: /config
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.3"
            path: /volume2/media-sp2/Movies
        globalMounts:
          - path: /movies
      downloads:
        enabled: true
        retain: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.3"
            path: /volume2/media-sp2/Downloads
        globalMounts:
          - path: /downloads
