---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: radarr
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.0.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        type: deployment
        updateStrategy: Recreate
        annotations:
          backup.velero.io/backup-volumes: config
        initContainers:
          init:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 14.9
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: postgres-radarr
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65539
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/radarr-develop
              tag: 5.0.3.8107@sha256:2c4fca668420dfa87b286da9b0a43f6dc64fd26329f9e914bc2de58887091eaf
              pullPolicy: IfNotPresent
            env:
              TZ: "UTC"
            envFrom: *envFrom

    service:
      main:
        ports:
          http:
            port: 7878

    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/icon: "iconoir:movie"
        className: nginx-internal
        hosts:
          - host: &host "radarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host 
            secretName: wildcard-cert-tls

    persistence:
      config:
        enabled: true
        existingClaim: radarr-config-v4
        globalMounts:
          - path: /config

      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.3"
            path: /volume2/media-sp2/Movies
        globalMounts:
          - path: /movies

      downloads:
        enabled: true
        retain: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.5"
            path: /volume2/media-sp2/Downloads
        globalMounts:
          - path: /downloads
