---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-radarr-0
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn-config
