---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - pvc.yaml
  - external-secret.yaml
  - helm-release.yaml
namespace: vpn
#configMapGenerator:
#- name: searxng-settings
#  files:
#    - settings.yml
#generatorOptions:
#disableNameSuffixHash: true
#annotations:
#  kustomize.toolkit.fluxcd.io/substitute: disabled
