---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: vpn
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    image:
      repository: ghcr.io/onedr0p/qbittorrent
      tag: 4.5.4@sha256:f0a74313d750bc437ba2ad34f3412de5ab9a978f3f5b74227a1bda69271fef3e
    hostname: qbittorrent
    env:
      TZ: "UTC"
      QBITTORRENT__PORT: &port 8080
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        annotations:
          # io.cilium/lb-ipam-ips: "192.168.42.10"
        ingressClassName: nginx-internal
        hosts:
        - host: &host "qbittorrent.${SECRET_DOMAIN}"
          paths:
          - path: /
            pathType: Prefix
        tls:
        - hosts:
          - *host
          secretName: wildcard-cert-tls
    persistence:
      config:
        enabled: true
        existingClaim: qbittorrent-config-v1
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.5"
            path: /volume2/media-sp2
        mountPath: /media
    
    podAnnotations:
      setGateway: "true"
    
    podSecurityContext:
      supplementalGroups:
      - 100
