---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app blocky
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        type: deployment
        strategy: RollingUpdate
        replicas: 2
        annotations:
          configmap.reloader.stakater.com/reload: &config blocky-config
          secret.reloader.stakater.com/reload: wildcard-cert-tls
        containers:
          main:
            image:
              repository: ghcr.io/0xerr0r/blocky
              tag: v0.22
            resources:
              requests:
                cpu: 50m
                memory: 200Mi 
            env:
              TZ: UTC
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app

    service:
      main:
        enabled: true
        ports:
          http:
            port: 4000
      dns:
        enabled: true
        controller: main
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          io.cilium/lb-ipam-ips: "192.168.50.7"
        monitor:
          enabled: false
        ports:
          dns-udp:
            enabled: true
            port: 53
            protocol: UDP
            targetPort: 53
          dns-tcp:
            enabled: true
            port: 53
            protocol: TCP
            targetPort: 53
          dns-dot:
            enabled: true
            port: 853
            protocol: TCP
            targetPort: 853
          dns-https:
            enabled: true
            port: 443
            protocol: TCP
            targetPort: 443

    route:
      main:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: infrastructure
        hostnames:
          - "blocky.${SECRET_DOMAIN}"
        rules:
          backendRefs:
            - port: http

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 30s
            scrapeTimeout: 30s

    persistence:
      config:
        enabled: true
        type: configMap
        name: *config
        globalMounts:
          - path: /app/config.yml
            subPath: config.yml
            readOnly: true
      tls:
        enabled: true
        type: secret
        name: wildcard-cert-tls
        readOnly: true
