---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
  namespace: system
spec:
  interval: 30m
  chart:
    spec:
      chart: spegel
      version: 0.3.0
      sourceRef:
        kind: HelmRepository
        name: spegel
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      repository: ghcr.io/spegel-org/spegel
      tag: v0.2.0@sha256:2898180b1d3a4b1ffd237dbca2d5b80b1f5289a26ffb15130e4a20ba75e26293
    spegel:
      appendMirrors: true
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
    grafanaDashboard:
      enabled: true
    serviceMonitor:
      enabled: true
    service:
      registry:
        hostPort: 29999
      serviceMonitor:
        enabled: true
