---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: postgres-sonarr
  namespace: default
spec:
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        SONARR__API_KEY: |-
          {{ .sonarr_api_key }}
        SONARR__POSTGRES_HOST: &dbHost postgres-v16-rw.database.svc
        SONARR__POSTGRES_USER: &dbUser |-
          {{ .postgres_sonarr_user }}
        SONARR__POSTGRES_PASSWORD: &dbPass |-
          {{ .postgres_sonarr_pass }}
        SONARR__POSTGRES_MAIN_DB: sonarr-main
        SONARR__POSTGRES_LOG_DB: sonarr-log
        # Postgres Init
        INIT_POSTGRES_DBNAME: sonarr-main sonarr-log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: |-
          {{ .postgres_pw }}
  refreshInterval: 15m
  data:
    - secretKey: sonarr_api_key
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 336e4bd7-6293-48cc-8d5e-b05d01565916
        property: sonarr_api_key
    - secretKey: postgres_sonarr_user
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 336e4bd7-6293-48cc-8d5e-b05d01565916
        property: postgres_sonarr_user
    - secretKey: postgres_sonarr_pass
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 336e4bd7-6293-48cc-8d5e-b05d01565916
        property: postgres_sonarr_pass
    - secretKey: postgres_pw
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 336e4bd7-6293-48cc-8d5e-b05d01565916
        property: postgres_pw
