---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: sonarr
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    initContainers:
      init:
        image: ghcr.io/onedr0p/postgres-init:14.9
        imagePullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: postgres-sonarr
    controller:
      type: deployment
      strategy: Recreate

    image:
      repository: ghcr.io/onedr0p/sonarr-develop
      tag: 4.0.0.674@sha256:afc698edaf065046f044efcec4df4080a8235e6552e52ffcca3612def6989d68
      pullPolicy: IfNotPresent

    env:
      TZ: "UTC"
    envFrom: *envFrom

    service:
      main:
        ports:
          http:
            port: 8989

    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/icon: "solar:tv-bold"
        ingressClassName: nginx-internal
        hosts:
          - host: &host "sonarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    
    podAnnotations:
      backup.velero.io/backup-volumes: config
    
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100

    persistence:
      config:
        enabled: true
        existingClaim: sonarr-config-v4
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.3"
            path: /volume2/media-sp2/Shows
        mountPath: /tv

      downloads:
        enabled: true
        retain: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.5"
            path: /volume2/media-sp2/Downloads
        mountPath: /downloads
