---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: ingress-internal
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.10.0
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controller:
      replicaCount: 2
      allowSnippetAnnotations: true
      config:
        use-gzip: true
        enable-brotli: true
        enable-ocsp: true
        enable-real-ip: true
        hsts-max-age: 31449600
        proxy-buffer-size: 16k
        client-header-timeout: 120
        client-body-buffer-size: "100M"
        client-body-timeout: 120
        keep-alive: 120
        keep-alive-requests: 10000
        proxy-body-size: "100M"
      ingressClass: internal
      ingressClassByName: true
      ingressClassResource:
        name: internal
        enabled: true
        default: true
        controllerValue: "k8s.io/ingress-nginx-internal"
      admissionWebhooks:
        objectSelector:
          matchExpressions:
            - key: ingress-class
              operator: In
              values:
                - internal
      service:
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          io.cilium/lb-ipam-ips: 192.168.40.2
      publishService:
        enabled: true
      updateStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
      resources:
        requests:
          cpu: 100m
          memory: 90Mi
      enableMimalloc: true
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - ingress-nginx
                topologyKey: "kubernetes.io/hostname"
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
