---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app snmp-exporter
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-snmp-exporter
      version: 5.1.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    image:
      repository: quay.io/prometheus/snmp-exporter
      tag: main@sha256:2df333eb2e9e9cde60fce32851411740842155bee1c16f631fd1cc7af3b338fb
    extraArgs:
      - "--config.file=/config/snmp.yaml"
    extraConfigmapMounts:
      - name: *app
        mountPath: /config/snmp.yaml
        subPath: snmp.yaml
        configMap: *app
        readOnly: true
        defaultMode: 420
    podAnnotations:
      configmap.reloader.stakater.com/reload: *app
    serviceMonitor:
      enabled: true
      params:
        - name: storinator
          module: [synology]
          target: 192.168.1.2
      path: /snmp
      scrapeTimeout: 10s
      relabelings:
        - action: labeldrop
          regex: (pod)
