---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app overseerr
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        strategy: RollingUpdate
        surge: 1
        unavailable: 1
        annotations:
          backup.velero.io/backup-volumes: app/config
        containers:
          main:
            image:
              repository: ghcr.io/sct/overseerr
              tag: 1.33.2
              pullPolicy: IfNotPresent
            env:
              TZ: "UTC"
    service:
      main:
        ports:
          http:
            port: &port 5055
    ingress:
      main:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: ingress.garb.dev
          external-dns.alpha.kubernetes.io/hostname: overseerr.garb.dev
        hosts:
          - host: &host "overseerr.garb.dev"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    route:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: dummy
          external-dns.alpha.kubernetes.io/hostname: overseerr-route.garb.dev
          external-dns.alpha.kubernetes.io/ttl: "120"
        parentRefs:
          - name: cilium-external
            namespace: infrastructure
            sectionName: https
        hostnames:
          - "overseerr-route.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
    persistence:
      config:
        enabled: true
        existingClaim: overseerr-config-v2
        globalMounts:
          - path: /app/config
