---
tunnel: ${SECRET_CLOUDFLARE_TUNNEL}

originRequest:
  http2Origin: true
  matchSNItoHost: true

ingress:
  - hostname: "*.garb.dev"
    service: https://envoy-gw-external.networking.svc.cluster.local:443
  - service: http_status:404
