---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: velero
  namespace: recovery
spec:
  dependsOn:
    - name: minio
      namespace: system
  interval: 5m
  chart:
    spec:
      chart: velero
      version: 5.2.0
      sourceRef:
        kind: HelmRepository
        name: vmware-tanzu
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    configuration:
      extraEnvVars:
        TZ: "UTC"
        MINIO_LOG_LEVEL: "DEBUG"
      backupStorageLocation:
        - name: default
          provider: aws
          bucket: velero
          default: true
          config:
            region: us-east-1
            s3ForcePathStyle: true
            s3Url: "http://minio.system.svc:9000"
            publicUrl: https://s3.${SECRET_DOMAIN}
      fsBackupTimeout: 4h
    deployRestic: true
    restic:
      podVolumePath: /var/lib/kubelet/pods
      privileged: true
    initContainers:
      - name: velero-plugin-for-aws
        image: velero/velero-plugin-for-aws:v1.8.2
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - mountPath: /target
            name: plugins
    deployNodeAgent: true
    credentials:
      existingSecret: minio-velero
    schedules:
      daily-backup:
        # At 6:00am in the morning every day
        schedule: "0 6 * * *"
        template:
          ttl: "168h"
      weekly-backup:
        # At the end of the week on a Sunday morning, at 6:00am
        schedule: "0 6 * * 0"
        template:
          ttl: "672h"
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    backupsEnabled: true
    snapshotsEnabled: false
    upgradeCRDs: false
    cleanUpCRDs: false
    kubectl:
      image:
        repository: ghcr.io/onedr0p/kubernetes-kubectl
        tag: 1.29.0@sha256:e7705753c1a0b8c47e50a045f6aef50415949771be110adcfb137b33609c2921
    resources:
      requests:
        memory: 300Mi
        cpu: 25m
      limits:
        memory: 1500Mi
