---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: thanos
  namespace: monitoring
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: thanos
      version: 13.0.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: local-path-provisioner
      namespace: system
  values:
    image:
      registry: quay.io
      repository: thanos/thanos
      tag: v0.34.0
    objstoreConfig:
      type: s3
      config:
        bucket: thanos
        endpoint: "minio.system.svc:9000"
        region: us-east-1
        insecure: true
    receive:
      enabled: false
      networkPolicy:
        enabled: false
    queryFrontend:
      enabled: true
      replicaCount: 2
      nodeSelector:
        node-role.kubernetes.io/worker: "true"
      config: &config |-
        type: REDIS
        config:
          addr: >-
            redis-node-0.redis-headless.database.svc.cluster.local:26379,
            redis-node-1.redis-headless.database.svc.cluster.local:26379,
            redis-node-2.redis-headless.database.svc.cluster.local:26379
          db: 12
          master_name: redis-master
      networkPolicy:
        enabled: false
      ingress:
        enabled: true
        ingressClassName: internal
        hostname: &host thanos-query-frontend.garb.dev
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
        tls: true
        extraTls:
          - hosts:
              - *host
        networkPolicy:
          enabled: false
    query:
      enabled: true
      replicaCount: 2
      replicaLabel: ["__replica__"]
      dnsDiscovery:
        sidecarsService: prometheus-kube-prometheus-thanos-discovery
        sidecarsNamespace: monitoring
      nodeSelector:
        node-role.kubernetes.io/worker: "true"
      networkPolicy:
        enabled: false
    bucketweb:
      enabled: true
      replicaCount: 2
      nodeSelector:
        node-role.kubernetes.io/worker: "true"
      networkPolicy:
        enabled: false
    compactor:
      enabled: true
      extraFlags:
        - --compact.concurrency=4
        - --delete-delay=30m
      retentionResolutionRaw: 30d
      retentionResolution5m: 60d
      retentionResolution1h: 90d
      nodeSelector:
        node-role.kubernetes.io/worker: "true"
      persistence:
        enabled: true
        storageClass: local-hostpath
        size: 10Gi
      networkPolicy:
        enabled: false
    storegateway:
      enabled: true
      replicaCount: 2
      config: *config
      nodeSelector:
        node-role.kubernetes.io/worker: "true"
      persistence:
        enabled: true
        storageClass: local-hostpath
        size: 10Gi
      networkPolicy:
        enabled: false
    ruler:
      enabled: true
      replicaCount: 2
      replicaLabel: __replica__
      alertmanagers:
        - "http://alertmanager-operated.monitoring.svc.cluster.local:9093"
      persistence:
        enabled: true
        storageClass: local-hostpath
        size: 10Gi
      extraFlags: ["--web.prefix-header=X-Forwarded-Prefix"]
      config: |-
        groups:
          - name: PrometheusWatcher
            rules:
              - alert: PrometheusDown
                annotations:
                  summary: A Prometheus has disappeared from Prometheus target discovery
                expr: absent(up{job="prometheus-kube-prometheus-operator"})
                for: 5m
                labels:
                  severity: critical
      dnsDiscovery:
        enabled: true
      networkPolicy:
        enabled: false
      nodeSelector:
        node-role.kubernetes.io/worker: "true"
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  valuesFrom:
    - targetPath: objstoreConfig.config.access_key
      kind: Secret
      name: thanos-credentials
      valuesKey: access_key
    - targetPath: objstoreConfig.config.secret_key
      kind: Secret
      name: thanos-credentials
      valuesKey: secret_key
