---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ./external-secret.yaml
  - ./helm-release.yaml
configMapGenerator:
  - name: thanos-cache-configmap
    files:
      - cache.yaml=./resources/cache.yaml
generatorOptions:
  disableNameSuffixHash: true
