---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: lidarr
  namespace: default
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    initContainers:
      init:
        image: ghcr.io/onedr0p/postgres-init:14.8
        imagePullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: postgres-lidarr
    controller:
      type: statefulset
    image:
      repository: ghcr.io/onedr0p/lidarr
      tag: 1.2.6.3313@sha256:96ca9a2946bf8c96fbd5fb5bf87790752eed937bb769e46bde9850c6f3f67775
      pullPolicy: IfNotPresent
    env:
      TZ: "UTC"
    envFrom: *envFrom
    service:
      main:
        ports:
          http:
            port: 8686
    ingress:
      main:
        enabled: true
        annotations:
          hajimari.io/icon: "mdi:music"
          # io.cilium/lb-ipam-ips: "192.168.42.10"
        ingressClassName: nginx-internal
        hosts:
          - host: &host "lidarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    
    podAnnotations:
      backup.velero.io/backup-volumes: config

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
        - 100

    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: longhorn

    persistence:
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.3"
            path: /volume2/media-sp2/Music
        mountPath: /music

      downloads:
        enabled: true
        retain: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.5"
            path: /volume2/media-sp2/Downloads
        mountPath: /downloads
