---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/upgrade.cattle.io/plan_v1.json
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: talos-masters
spec:
  version: ${TALOS_VERSION}
  serviceAccountName: system-upgrade
  secrets:
    - name: talos
      path: /var/run/secrets/talos.dev
      ignoreUpdates: true
  concurrency: 1
  exclusive: true
  nodeSelector:
    matchExpressions:
      - key: feature.node.kubernetes.io/system-os_release.ID
        operator: In
        values: ["talos"]
      - key: feature.node.kubernetes.io/system-os_release.VERSION_ID
        operator: NotIn
        values: ["${TALOS_VERSION}"]
      - key: node-role.kubernetes.io/control-plane
        operator: In
        values: [""]
  tolerations:
    - key: CriticalAddonsOnly
      operator: Exists
  upgrade:
    image: ghcr.io/jfroy/tnu:0.3.0
    envs:
      - name: NODE
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
    args:
      - --node=$(NODE)
      - --tag=$(SYSTEM_UPGRADE_PLAN_LATEST_VERSION)
