---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helm-release.yaml
configMapGenerator:
  - name: cert-manager-helm-values
    namespace: cert-manager
    files:
      - values.yaml=./helm-values.yaml
configurations:
  - kustomize-config.yaml
