---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &chart csi-driver-nfs
  namespace: system
spec:
  interval: 5m
  chart:
    spec:
      chart: *chart
      version: v4.8.0
      sourceRef:
        kind: HelmRepository
        name: csi-driver-nfs
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controller:
      replicas: 2
    feature:
      enableFSGroupPolicy: true
