---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-intel-gpu-plugin
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/apps/system/intel-gpu-plugin/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  wait: false
