---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: concourse
  namespace: development
spec:
  suspend: true
  interval: 5m
  chart:
    spec:
      chart: concourse
      version: 18.0.1
      sourceRef:
        kind: HelmRepository
        name: concourse
        namespace: flux-system
      interval: 5m
  valuesFrom:
    - kind: Secret
      name: concourse
      valuesKey: encryption_key
      targetPath: secrets.encryptionKey
      optional: false
    - kind: Secret
      name: postgres-concourse
      valuesKey: host
      targetPath: concourse.web.postgres.host
      optional: false
    - kind: Secret
      name: postgres-concourse
      valuesKey: host
      targetPath: concourse.web.postgres.database
      optional: false
    - kind: Secret
      name: postgres-concourse
      valuesKey: pg_user
      targetPath: secrets.postgresUser
      optional: false
    - kind: Secret
      name: postgres-concourse
      valuesKey: pg_pass
      targetPath: secrets.postgresPassword
      optional: false
  values:
    concourse:
      secrets:
        create: false
      web:
        externalUrl: https://concourse.garb.dev
        encryption:
          enabled: true
        kubernetes:
          teams:
            - development
          createTeamNamespaces: false
        prometheus:
          enabled: true
          ServiceMonitor:
            enabled: true
        auth:
          mainTeam:
            localUser: concourse
        postgres:
          port: 5432
    persistence:
      worker:
        storageClass: ceph-block
    postgresql:
      enabled: false
    web:
      ingress:
        enabled: true
        hosts:
          - &host concourse.garb.dev
        tls:
          - secretName: wildcard-cert-tls
            hosts:
              - *host
      extraInitContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:17.4
          envFrom:
            - secretRef:
                name: postgres-concourse
    worker:
      replicas: 2
      minAvailable: 0
      resources:
        limits:
          memory: 10Gi
          cpu: 7
    rbac:
      create: true
      apiVersion: v1
