---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-home-assistant
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/apps/home/home-assistant/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  wait: false # no flux ks dependents
  # postBuild:
  #   substituteFrom:
  #     - kind: Secret
  #       name: cluster-secrets
  dependsOn:
    - name: cluster-apps-external-secrets-stores