---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tautulli-config-v3
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn-config
