---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nas
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/default/nas/main"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-nas-files
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/default/nas/files"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-nas-photos
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/default/nas/photos"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rustfs
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/default/nas/rustfs"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: netboot
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/default/nas/netbootxyz"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nas-portainer
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/default/nas/portainer"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nas-bitwarden-vault
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/default/nas/bitwarden-vault"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: unifi-manifests
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/main/apps/default/nas/unifi"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
