---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-secrets
  namespace: flux-system
  labels:
    substitution.flux/enabled: false
spec:
  interval: 10m
  path: ./kubernetes/main/apps/kube-system/external-secrets/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  dependsOn:
    - name: cert-manager-self-signed-issuers
  postBuild:
    substituteFrom:
      - kind: Secret
        name: sops-bw-secrets
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-secrets-stores
  namespace: flux-system
  labels:
    substitution.flux/enabled: false
spec:
  path: ./kubernetes/main/apps/kube-system/external-secrets/stores
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  interval: 30m
  postBuild:
    substituteFrom:
      - kind: Secret
        name: sops-bw-secrets
  dependsOn:
    - name: cluster-apps-external-secrets
  healthCheckExprs:
    - apiVersion: external-secrets.io/v1
      kind: ClusterSecretStore
      failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
      current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
