---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: prowlarr
  namespace: vpn
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    controllers:
      main:
        type: deployment
        strategy: Recreate

        initContainers:
          init:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 14.9
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: postgres-prowlarr
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65539
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/prowlarr-develop
              tag: 1.11.0.4128@sha256:ba780ee620a5fc505d8d8d5cbaa4f2a6a22520d4ec727cffda40b8e3754beacd
              pullPolicy: IfNotPresent
            hostname: prowlarr
            env:
              TZ: "UTC"
            envFrom: *envFrom
    service:
      main:
        ports:
          http:
            port: 9696

    route:
      main:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: infrastructure
        hostnames:
          - "prowlarr.${SECRET_DOMAIN}"
        rules:
          backendRefs:
            - port: http

    persistence:
      config:
        enabled: true
        existingClaim: prowlarr-config
        globalMounts:
          - path: /config
