---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app prowlarr
  namespace: vpn
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        type: deployment
        strategy: Recreate
        initContainers:
          init:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.1
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: postgres-prowlarr
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 65539
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/prowlarr-develop
              tag: 1.13.0.4217@sha256:bbc16bdf446f784ed4f4955fdc41a3b5f2a3e60f1c94151110e6e12bc6de2817
              pullPolicy: IfNotPresent
            hostname: prowlarr
            env:
              TZ: "UTC"
            envFrom: *envFrom
    service:
      main:
        ports:
          http:
            port: &port 9696
    ingress:
      main:
        enabled: true
        className: nginx-internal
        hosts:
          - host: &host "prowlarr.garb.dev"
            paths:
              - path: /
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    route:
      main:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: infrastructure
        hostnames:
          - "prowlarr-route.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
    persistence:
      config:
        enabled: true
        existingClaim: prowlarr-config
        globalMounts:
          - path: /config
