---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-secrets
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/apps/kube-system/external-secrets/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-secrets-bitwarden
  namespace: flux-system
spec:
  path: ./kubernetes/apps/kube-system/external-secrets/bitwarden
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  wait: true
  interval: 30m
  postBuild:
    substituteFrom:
      - kind: Secret
        name: vault-secrets
  dependsOn:
    - name: cluster-apps-external-secrets
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-external-secrets-stores
  namespace: flux-system
spec:
  path: ./kubernetes/apps/kube-system/external-secrets/stores
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-cluster
  wait: true
  interval: 30m
  dependsOn:
    - name: cluster-apps-external-secrets
    - name: cluster-apps-external-secrets-bitwarden