---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.1.1/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sabnzbd
  namespace: vpn
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.1.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      sabnzbd:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.1@sha256:804650bc034ff4af18159615853d43a0cb7e5a24cb2484b5b46e77486eca91f3
            env:
              SABNZBD__PORT: &port 8080
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.vpn,
                sabnzbd.vpn.svc,
                sabnzbd.vpn.svc.cluster,
                sabnzbd.vpn.svc.cluster.local,
                sabnzbd.garb.dev,
                sabnzbd-cilium.garb.dev
            resources:
              requests:
                cpu: 247m
                memory: 161M
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
        pod:
          securityContext:
            fsGroup: 568
            runAsGroup: 568
            runAsUser: 568
            fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: networking
        hostnames:
          - "sabnzbd.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
      cilium:
        enabled: true
        parentRefs:
          - name: cilium-internal
            namespace: networking
        hostnames:
          - "sabnzbd-cilium.garb.dev"
        rules:
          - backendRefs:
              - port: *port
                name: *app
    persistence:
      config:
        enabled: true
        existingClaim: config-sabnzbd-0
        globalMounts:
          - path: /config
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "192.168.1.3"
            path: /volume2/media-sp2
        globalMounts:
          - path: /media
      incomplete:
        enabled: true
        type: emptyDir
