---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-access-token
  namespace: kube-system
  labels:
    external-secrets.io/type: webhook
stringData:
  token: ${BW_PROJECT_TOKEN}
  BW_ORG_ID: ${BW_ORG_ID}
---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-css-certs
  namespace: kube-system
stringData:
  ca.crt: ${NAS_BW_SDK_CA}
  tls.key: ${POD_PRIVATE_KEY}
  tls.crt: ${POD_CERT}
