---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-access-token
  namespace: kube-system
  labels:
    external-secrets.io/type: webhook
stringData:
  token: ${BW_PROJECT_TOKEN}
  BW_ORG_ID: ${BW_ORG_ID}
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-service-account-token
  namespace: kube-system
  labels:
    external-secrets.io/type: webhook
stringData:
  token: ${OP_SERVICE_ACCOUNT_TOKEN}
